{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Lista de Produtos</h1>
    <a href="{% url 'criar_produto' %}" class="btn btn-primary">Adicionar Produto</a>
</div>

<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Qntd</th>
            <th>Adicionado em</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.descricao }}</td>
            <td class="preco">R$ {{ produto.preco }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.data_criacao }}</td>
            <td>
                <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir_produto' produto.id %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
